.footer-preset {
  min-height: 40px;
}

.footer {
  @extend .footer-preset;
  flex-wrap: wrap;
  position: fixed;
  align-items: center;
  bottom: 0;
  justify-content: center;
  height: unset;
  width: 100%;

  a, p {
    margin: 0 0.5rem;
    text-decoration: none;
  }
}

.footer-ghost {
  @extend .footer-preset;
  margin-top: 5rem;
}
