<div class="bg-dark">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Projects</h5>
    <button type="button" class="btn" (click)="modalRef.close()">
      <i class="fa-solid fa-x exit-icon"></i>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-bordered">
      <thead>
        <tr class="d-flex">
          <th scope="col" class="flex-grow-1">Name</th>
          <th scope="col" class="width-options">Options</th>
        </tr>
      </thead>

      <tbody>
        <tr class="d-flex" *ngFor="let project of projects$ | async">
          <td class="flex-grow-1 name-div">
              {{ project.name }}
          </td>
          <td class="d-flex flex-column width-options">
            <button type="button" class="btn btn-warning" (click)="openEditProject(project.name)">Edit</button>
            <button type="button" class="btn btn-danger" (click)="deleteProject(project._id!)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <app-add-project (refresh)="refreshProjects()"></app-add-project>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modalRef.close()">
      Close
    </button>
  </div>
</div>
