@mixin table-elements {
  color: #fff;
  font-size: large;
}

.exit-icon {
  @include table-elements();

  &:hover {
    color: #ccc;
  }
}

.form-check {
  margin-bottom: 5px;
}

.table {
  @include table-elements();

  .btn {
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  th,
  td {
    &:hover {
      color: #ccc;
    }
  }

  .name-div {
    word-wrap: break-word;
    word-break: break-word;
  }
}

.width-options {
  min-width: 8rem;
}
