<div class="content">
  <div class="tracker">
    <h2>Tracker goes here</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam corporis
      officia at aspernatur repudiandae sed similique hic placeat tenetur labore
      odit, sequi dolorem, quisquam magnam optio perferendis dicta nemo ad
      voluptatibus id voluptas, qui excepturi! Facere accusamus architecto
      cupiditate delectus, excepturi assumenda suscipit recusandae enim amet
      eaque voluptas iusto nulla numquam, dignissimos perferendis? Nulla
      voluptatum quasi illum nesciunt enim molestias, nam error cupiditate non
      optio a vitae culpa reprehenderit et unde. Nam, adipisci consequuntur
      pariatur blanditiis repellendus officia consectetur impedit dolor error
      dolore delectus sint soluta quisquam iusto corporis perspiciatis suscipit
      distinctio animi dolorum eveniet voluptas quibusdam. Cum cupiditate nobis
      dignissimos? Eum, et at. Facere fuga eum molestiae aut ipsam error?
      Veritatis porro, nesciunt soluta nihil nostrum nulla, voluptatum eos
      pariatur suscipit perferendis voluptas, sapiente nisi. Non cumque
      possimus, magni eaque impedit delectus cum iste qui maxime rem facilis
      architecto harum veritatis laborum, culpa officia amet id asperiores esse
      blanditiis ad sit nisi! Harum expedita modi minima impedit! Porro tempore
      architecto, totam incidunt harum esse soluta aspernatur ducimus, nemo
      veritatis sit doloremque eaque. Numquam enim ipsa praesentium expedita
      odit, sed eveniet nihil eum voluptas ratione molestias perspiciatis iusto
      accusantium amet excepturi, velit in hic sint? Accusantium aperiam labore
      consequuntur. Sit.
    </p>
  </div>
  <app-timespans-list></app-timespans-list>
</div>
