.content {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
  height: 500px;
}

mat-card {
  width: 55%;
  margin: 1rem 1.5rem;
  max-width: 500px;

  &-content {
    display: flex;
    flex-direction: column;

    .task-name-input-div {
      margin: 25px 0;
    }
  }
}

app-timespans-list {
  width: 35%;
}
