@use "sass:map";
@use "@angular/material" as mat;
@use './../../../../skrauzodoro-theme' as skr;

.timer-string {
  width: min-content;
  font-size: clamp(2rem, 10vw, 6rem);
  margin: 0 auto 20px;
  font-weight: 600;
}

.controls {
  display: flex;
  justify-content: space-around;
  margin: 0.5rem auto;

  .pressed {

    background-color: darken(map.get(skr.$skr-amber-palette, 800), $amount: 15);
  }

  .control-button {
    margin: auto 1rem;
    width: 125px;
    height: 50px;
    font-size: larger;
  }
}

