@use './../../shared/shared-modal.scss';

form-control {
  color: #fff !important;
}

.chart-selector {
  width: max-content;
  max-width: 200px;
  flex-grow: 2;
  color: #fff !important;

  label, input {
    color: white
  }
}

mat-form-field {
  margin: auto 0.5rem;
}

mat-hint {
  font-size: smaller;
}

.card-body {
  padding-bottom: 0.5rem;
}

h3{
  margin-top: 0.6rem;
  margin-left: 0.3rem;
}
