<span [routerLink]="['/tracker']"> Skrauzodoro Tracker </span>

<button mat-button [routerLink]="['/tracker']">
  <i class="fa-solid fa-clock"></i> Time Tracker
</button>

<button mat-button [routerLink]="['/timer']">
  <i class="fa-solid fa-stopwatch"></i> Pomodoro Timer
</button>

<button mat-button [routerLink]="['/stats']">
  <i class="fa-solid fa-chart-simple"></i> Statistics
</button>

<!-- Buttons below go to the right side -->

<button mat-button [routerLink]="['/settings']">
  <i class="fa-solid fa-gear"></i> Settings
</button>

<button mat-button [routerLink]="['/integrations']">
  <i class="fa-solid fa-plug"></i> Integrations
</button>

<a
  mat-button
  href="https://github.com/Skrauz/SkrauzodoroTracker-Client"
  target="_blank"
  ><i class="fa-brands fa-github"></i> Github
</a>

<!-- Make Responsive -->
<!-- Add icons to these buttons later -->
<!-- Maybe add a timer at the center later -->
