@use '@angular/material' as mat;
@use 'sass:map';
@use './../../skrauzodoro-theme' as skr;

.toolbar {
  height: 50px;
}

.btn {
  text-transform: unset;
}

a, button {
  text-decoration: none;
  margin: auto 0.2rem;
  padding: 0.5rem 0.75rem;
}

span {
  flex-grow: 10;
}

#title {
  margin: auto 1rem;
}
