<mat-toolbar color="primary" class="toolbar">
  <p id="title" [routerLink]="['/tracker']"> Skrauzodoro Tracker </p>

  <button mat-raised-button color="primary" [routerLink]="['/tracker']">
    <i class="fa-solid fa-stopwatch"></i> Time Tracker
  </button>

  <button mat-raised-button color="primary" [routerLink]="['/timer']">
    <i class="fa-solid fa-hourglass"></i> Pomodoro Timer
  </button>

  <button mat-raised-button color="primary" [routerLink]="['/stats']">
    <i class="fa-solid fa-chart-line"></i> Statistics
  </button>

  <span> </span>

  <button mat-raised-button color="primary" [routerLink]="['/settings']">
    <i class="fa-solid fa-gear"></i> Settings
  </button>

  <button mat-raised-button color="primary" [routerLink]="['/integrations']">
    <i class="fa-solid fa-plug"></i> Integrations
  </button>

  <a color="primary"
    mat-raised-button
    href="https://github.com/Skrauz/SkrauzodoroTracker-Client"
    target="_blank"
    ><i class="fa-brands fa-github"></i> Github
  </a>
</mat-toolbar>

<!-- Make Responsive -->
<!-- Add icons to these buttons later -->
<!-- Maybe add a timer at the center later -->
