.modal-header {
  border-bottom: unset;
}

.modal-footer {
  border-top: unset;
}

.input-div {
  max-width: 600px;
  label, input {
    color: white
  }
}

p {
  margin-top: 1rem;
  margin-bottom: 0;
}

.form-control {
  color: #fff !important;
}
