<mat-card>
  <mat-card-content>
      <div class="input-div">
        <mat-form-field class="input-form-field">
          <mat-label>Task Name</mat-label>
          <input matInput type="text" [(ngModel)]="newProjectName" />
          <button
            *ngIf="newProjectName"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="newProjectName = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="input-form-field">
          <button
            class="control-button"
            mat-raised-button
            color="primary"
            (click)="submitNewProject()"
          >
            Create New Project
            <i class="fa-solid fa-plus"></i>
          </button>
        </mat-form-field>
      </div>
  </mat-card-content>
</mat-card>
