<div class="bg-dark">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Integrations</h5>
    <button type="button" class="btn" (click)="modalRef.close()">
      <i class="fa-solid fa-x exit-icon"></i>
    </button>
  </div>
  <div class="modal-body input-div">
    <h3>Todoist</h3>
    <mdb-form-control>
      <input
        mdbInput
        type="password"
        id="formControlSm"
        class="form-control form-control-lg"
        [(ngModel)]="todoistToken"
        (change)="saveTokenToCookies()"
      />
      <label mdbLabel class="form-label" for="formControlSm"
        >Your Todoist API Token</label
      >
    </mdb-form-control>
    <button
      type="button"
      class="btn btn-primary"
      (click)="constructApi(this.todoistToken)"
    >
      Connect Todoist
    </button>
    <p>
      <a href="https://todoist.com/app/settings/integrations/developer" target="_blank">Click here</a> to view your token
    </p>
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="getProjects()"
    >
      Import Projects
    </button>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="modalRef.close()"
    >
      Close
    </button>
  </div>
</div>
