<div class="bg-dark">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Settings</h5>
    <button type="button" class="btn" (click)="modalRef.close()">
      <i class="fa-solid fa-x exit-icon"></i>
    </button>
  </div>
  <div class="modal-body input-div">
    <mdb-form-control>
      <input
        mdbInput
        type="number"
        id="formControlSm"
        class="form-control form-control-lg"
        [(ngModel)]="settingsService.settings.pomoLength"
        min="1"
        required
      />
      <label mdbLabel class="form-label" for="formControlSm"
        >Focus Session length (minutes):</label
      >
    </mdb-form-control>

    <mdb-form-control>
      <input
        mdbInput
        type="number"
        id="formControlSm"
        class="form-control form-control-lg"
        [(ngModel)]="settingsService.settings.shortBreakLength"
        min="1"
        required
      />
      <label mdbLabel class="form-label" for="formControlSm"
        >Short Break length (minutes):</label
      >
    </mdb-form-control>

    <mdb-form-control>
      <input
        mdbInput
        type="number"
        id="formControlSm"
        class="form-control form-control-lg"
        [(ngModel)]="settingsService.settings.longBreakLength"
        min="1"
        required
      />
      <label mdbLabel class="form-label" for="formControlSm"
        >Long Break length (minutes):</label
      >
    </mdb-form-control>

    <mdb-form-control>
      <input
        mdbInput
        type="number"
        id="formControlSm"
        class="form-control form-control-lg"
        [(ngModel)]="settingsService.settings.pomosUntilLongBreak"
        min="1"
        required
      />
      <label mdbLabel class="form-label" for="formControlSm"
        >Pomodoros until long break:</label
      >
    </mdb-form-control>

    <div class="form-check">
      <input
        mdbCheckbox
        class="form-check-input"
        type="checkbox"
        value=""
        [(ngModel)]="settingsService.settings.pomodoroAutoplay"
      />
      <label class="form-check-label"> Pomodoro Autoplay </label>
    </div>

    <p>Alarm sound:</p>
    <mdb-form-control>
      <select
        class="form-select"
        aria-label="Alarm Sound"
        class="bg-dark form-control form-control-lg"
        [(ngModel)]="settingsService.settings.alarmSound"
      >
        <option value="1">Alarm 1</option>
        <option value="2">Alarm 2</option>
        <option value="3">Alarm 3</option>
        <option value="4">Alarm 4</option>
      </select>
      <i class="fa-solid fa-angle-down"></i>
    </mdb-form-control>
    <button class="btn btn-outline-primary" (click)="testSound()">
      Test Sound <i class="fa-solid fa-volume-high"></i>
    </button>
  </div>
  <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="modalRef.close()"
        >
        Close
      </button>
      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="restoreDefaultSettings()"
      >
        Restore Defaults <i class="fa-solid fa-clock-rotate-left"></i>
      </button>
      <button type="button" class="btn btn-primary" (click)="saveSettings()">
        Save Changes <i class="fa-solid fa-floppy-disk"></i>
      </button>
    </div>
  </div>
